<h1>Welcome to shortURL</h1>
<form action="" method="POST">
    <label for="shorten_url">Enter URL to be shortened</label>
    <input type="text" id="shorten_url" name="url" value="Shorten your link">
    <input type="submit" value="Shorten">
</form>