<h1>Welcome to shortURL</h1>
<form action="records" method="POST">
    <label for="shorten_url">Enter URL to be shortened</label>
    <input type="url" id="shorten_url" name="url" placeholder="Shorten your link" required>
    <input type="submit" value="Shorten">
</form>