@use 'variables' as var;

html {
  box-sizing: border-box;
  color: var.$text-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.4;
  letter-spacing: 0.02em;
  background-color: var.$extra-light-gray;
}

h1,
h2,
h3,
h4 {
  font-family: Sansita, serif;
  letter-spacing: 0.03em;
}

input, textarea, button {
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

a {
  color: var.$brand-green;
}

a:visited {
  color: var.$brand-green;
}

a:hover {
  color: var.$medium-green;
}

a:active {
  color: var.$red;
}
